<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/frameworks/jquery-2.1.3.min.js"></script>
    <script src="/frameworks/jquery-template/jquery-loadTemplate/jquery.loadTemplate-1.4.4.min.js"></script>
    <script src="https://api.trello.com/1/client.js?key=<%= conf.key %>"></script>

    <!-- begining of templates -->
    <script type="text/html" id="board-template">
      <li>
      <div class="board" data-template-bind='[{"attribute": "data-bid", "value": "id"}]'>
        <div class="name">
          <label>
            <input type="checkbox" data-template-bind='[{"attribute": "data-bid", "value": "id"}]'>
            <span data-content="name"></span>
          </label>
          <a data-href="url" target="_blank"><img src="/images/ext-link.png"></a></div>
        <div class="lists">
          <ul></ul>
        </div>
      </div>
      </li>
    </script><!-- board-template -->

    <script type="text/html" id="list-template">
      <li>
      <div class="list" data-template-bind='[{"attribute": "data-lid", "value": "id"}]'>
        <div class="name" data-content="name"></div>
        <div class="cards"><ul></ul></div>
      </div>
      </li>
    </script><!-- list-template -->
    <!-- end of templates -->

    <script type="text/html" id="card-template">
      <li>
      <div class="card" data-template-bind='[{"attribute": "data-cid", "value": "id"}]'>
        <span class="name" data-content="name"></span>
        <span class="members" data-template-bind='[{"attribute": "data-mids", "value": "mids"}]'></span>
        <a data-href="shortUrl" target="_blank"><img src="/images/ext-link.png"></a></div>
      </div>
      </li>
    </script><!-- card-template -->
  </head>
  <body>
    <div id="debug">
      <p>Debug info</p>
      <ul>
        <li>key: <%= conf.key %></li>
        <li>secretkey: <%= conf.secretkey %></li>
      </ul>
    </div>
    <h1><%= title %></h1>

    <p>Welcome to <%= title %></p>

    <div id="logged-out">
      <button id="connect">connect to trello</button>
    </div>

    <div id="logged-in">
      <p class="welcome"></p>
      <div id="boards-container">
        <h2>ボード一覧</h2>
        <div class="boards">
          <ul></ul>
        </div>
      </div>
      <button id="disconnect">disconnect from trello</button>
    </div>

    <!-- script -->
    <script src="/javascripts/script.js"></script>
  </body>
</html>
